<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="../assets/css/style.css"> -->
    <link rel="stylesheet" href="../assets/css/styleM.css">
    <title>Indian Spice Kitchen</title>
</head>

<body class="bodyClass">
    <header class="l-header">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#">Indian Spice Kitchen</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" style="position: absolute;
            left: 60%;" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/aboutus">Aboutus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/menu">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/orderdetails">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chart">Chart</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        </br>
        <h2 align="center">Our Team</h2>
        </br>
        <div class="row" style="padding: 3%;">
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="card">
                    <img class="img-fluid card-img-top" id="devImg" src="../assets/Images/aravind.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" align="center">Geetha Aravinda Reddy Eemani</h5>
                        <p>Aravinda is one of the key programmers of CSS, Javascript. His experience in web development has fetched us a lot of insights. His contribution was the styling and responsivenss of the Home page, cart page. Worked on the units sold and replacing the hardcoded data with products array</p>
                        <!-- <p><button class="btn btn-secondary">Contact</button></p> -->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="card">
                    <img class="img-fluid card-img-top" id="devImg" src="../assets/Images/harish.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" align="center">Harish Reddy Lallapati</h5>
                        <p>Harish is the main idea generator and content creator of the website. He did the initial research about the attributes of the website. Implemented charts,worked on styling, converted harcoded data to json array and added units sold attribute to products, worked on the overall scripting part using the JS.</p>
                        <!-- <p><button class="btn btn-secondary">Contact</button></p> -->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="card">
                    <img class="img-fluid card-img-top" id="devImg" src="../assets/Images/Vishnu.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" align="center">Vishnu Vardhan Reddy Gangidi</h5>
                        <p>Vishnu is a graduate student from USF. He is one of the most enthusiastic students who is experienced in both front end and back end. He was the one who kept the group moving forward. He worked on adding items to cart to display the count and added the units sold attribue to the array.
                        </p>
                        <!-- <p><button class="btn btn-secondary">Contact</button></p> -->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="card">
                    <img class="img-fluid card-img-top" id="devImg" src="../assets/Images/ranjith.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" align="center">Ranjith Reddy Yellamgari</h5>
                        <p>Ranjith is a graduate student from USF. He was the first person to encourage or suggest changes to the website and schedule meetings, assigning tasks for the projects. He improved the styling for About Us page and included charts on the Nav Bar,rendered products based on products array.</p>
                        <!-- <p><button class="btn btn-secondary">Contact</button></p> -->
                    </div>
                </div>
            </div>
        </div>



        <!-- === FOOTER === -->
        <section class="section footer" id="footer">
            <div class="container">
                <footer class="py-3 my-4">
                    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                        <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a>
                        </li>
                        <li class="nav-item"><a href="/aboutus" class="nav-link px-2 text-body-secondary">About
                                us</a></li>
                        <li class="nav-item"><a href="/menu" class="nav-link px-2 text-body-secondary">Menu</a></li>
                        <li class="nav-item"><a href="/contactus" class="nav-link px-2 text-body-secondary">Contact
                                us</a></li>
                        <!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li> -->
                    </ul>
                    <p class="text-center text-body-secondary">&copy; 2023 Company, Inc</p>
                </footer>
            </div>

        </section>

    </main>


    <!-- <script src="assets/js/main.js"></script> -->
</body>

</html>